body {
  background-image: linear-gradient(to right, #a18cd1, #fbc2eb);
  font-family: 'Roboto';
}

section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
  box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  /*background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);*/
  background-color: #e9e9e7;
  padding: 15px;
  border-radius: 5px;
}

section h1 {
  font-size: 26px;
  text-align:center
}

section h2 {
  font-size: 20px;
}

header {
  background-image: url('https://cdn.cinepop.com.br/2021/02/pokemon-list.jpg');
  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/background-size   */
  background-size: cover;
  height: 80px;
  border-radius: 5px;
}

div {
  padding: 15px;
  border-radius: 5px;
  /* propriedade visual: valor   */
  background-color: #bac3d6;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid #e9e9e7;
}